<main class="main">
  <div class="content">
    <img id="logo" src="Angular-logo.svg" alt="">
    <h1>Angular Todo</h1>
    <input
    #newItem
    placeholder="Enter a todo item!"
    (keyup.enter)="addItem(newItem.value);newItem.value=''"
    type="text"
    name=""
    value=""
    >
    <button
    (click)="addItem(newItem.value);newItem.value=''"
     type="button" name="button">Add</button>

    <ul id="todoListResults">
      <li *ngFor="let item of items; let i=index">


        <span *ngIf="!item.showInput"
        (click)="item.showInput=true;inputFocus($event)">{{item.name}}</span>


        <input *ngIf="item.showInput"
        id="{{i}}"
        (change)="updateItem($event)"
        (blur)="item.showInput=false;"
        type="text" name="" value="{{item.name}}">

        <span (click)="removeItem(item.id)"
        class="item_delete">&#x2716; </span>

      </li>
    </ul>
  </div>


</main>



<router-outlet />
